.button {
  padding: 0.8rem 3.7rem;
  border: none;
  line-height: 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button:disabled {
  cursor: default;
}

.buttonPrimary {
  background-color: var(--colorPrimary);
  color: var(--colorOnPrimary)
}

.buttonRounded {
  border-radius: 2rem;
}

.modalContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--colorBlackAlpha6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer > div {
  width: 32rem;
}

@media (max-width: 640px) {
  .modalContainer > div {
    width: auto;
  }
}

.checkbox {
  grid-gap: 0.5em;
  font-size: 1.4rem;
  color: var(--color);
}
.checkbox--disabled {
  color: var(--disabled);
}

.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
}
.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";
}
.checkbox__input > * {
  grid-area: checkbox;
}
.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}
.checkbox__input input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em var(--colorWhite), 0 0 0.15em 0.1em currentColor;
}
.checkbox__input input:checked + .checkbox__control svg {
  transform: scaleX(1.14) translateY(1px) scaleY(1.14);
  background-color: var(--colorPrimary);
  border-radius: 0.25rem;
  position: relative;
  color: var(--colorGrey1);
  left: -1px;
  top: 1px;
  border: 0.1em solid var(--colorPrimary);
}
.checkbox__input input:disabled + .checkbox__control {
  color: var(--disabled);
}
